<div class="headCont">
	<h1 class="head">Welcome to the <span class="bigRed">Eat-a-burger</span> restaurant</h1>
	<div class="para">
		<p>Here at the Eat-a-burger restaurant we pride ourselves on serving you with whatever
			burger you would like to eat. All you have to do is order it below and Your order will
		be up in seconds. Go ahead try it out!!</p>
	</div>
	<div class="burgImg">
		<img src="/assets/img/burger.png" alt="picture of a burger">
	</div>
</div>
<div class="bottomContent">
	<div class="burgers">
		<div class="ready">
			<h2>Burgers to eat</h2>
			<ul>
				{{#each burger}}
				{{#unless this.devoured}}
				<li>
					{{this.id}}. {{this.burger_name}}
				</li>
				<form action = "/{{this.id}}?_method=PUT" method = "POST">
					<input type="hidden" name="devoured"
					value="true">
					<button type="submit">Eat it!</button>
				</form>
				{{/unless}}
				{{/each}}
			</ul>
		</div>
		<div class="devoured">
			<h2>Burgers devoured</h2>
			<ol>
				{{#each burger}}
				{{#if this.devoured}}
				<li>
					{{this.burger_name}}
				</li>
				{{/if}}
				{{/each}}
			</ol>
		</div>
	</div>
	<form action="/" class="newBurger" method="POST">
		<div class="form-group"></div>
		<input type="text" name="burger_name">
		<input type="hidden" name="devoured" value="0">
		<button type="submit">submit</button>
	</form>
	<div class="inst">
		<p>Order Here</p>
	</div>
</div>